replicaCount: 1

image:
  repository: langfuse/langfuse
  pullPolicy: Always
  tag: 3

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
namespaceOverride: ""

langfuse:
  nodeEnv: production
  next:
    healthcheckBasePath: ""
  nextauth:
    url: https://<YOUR_LANGFUSE_DOMAIN> # e.g. https://langfuse.endpoints.<YOUR_PROJECT_ID>.cloud.goog
  licenseKey: ""
  telemetryEnabled: True
  nextPublicSignUpDisabled: False
  enableExperimentalFeatures: False
  extraContainers: []
  extraVolumes: []
  extraInitContainers: []
  extraVolumeMounts: []
  gateway:
    deploy: false
    annotations:
      networking.gke.io/certmap: <CERTIFICATION_MANAGER_CERT_MAP>
    policy:
      enabled: true
      name: <SSL_POLICY_NAME>
    addressName: <GLOBAL_EXTERNAL_IP_NAME>
  httpRoute:
    gatewayName: dify-gateway
    gatewayNamespace: dify
    host: <YOUR_LANGFUSE_DOMAIN> # e.g. langfuse.endpoints.<YOUR_PROJECT_ID>.cloud.goog
  web:
    port: 3000
    resources:
      requests:
        cpu: 200m
        memory: 256Mi
      limits:
        cpu: 1000m
        memory: 2048Mi
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 2
      targetCPUUtilizationPercentage: 50
    vpa:
      enabled: false
      controlledResources: []
      maxAllowed: {}
      minAllowed: {}
      updatePolicy:
        updateMode: Auto
  worker:
    port: 3030
    resources:
      requests:
        cpu: 500m
        memory: 512Mi
      limits:
        cpu: 2000m
        memory: 2048Mi
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 2
      targetCPUUtilizationPercentage: 50
    vpa:
      enabled: false
      controlledResources: []
      maxAllowed: {}
      minAllowed: {}
      updatePolicy:
        updateMode: Auto

  additionalEnv:
    # REDIS
    - name: "REDIS_CONNECTION_STRING"
      value: "redis://default:crystal@langfuse-valkey-primary:6379/0"
    # CLICKHOUSE
    - name: "CLICKHOUSE_MIGRATION_URL"
      value: "clickhouse://langfuse-clickhouse:9000"
    - name: "CLICKHOUSE_URL"
      value: "http://langfuse-clickhouse:8123"
    - name: "CLICKHOUSE_USER"
      value: "langfuse"
    - name: "CLICKHOUSE_PASSWORD"
      value: "crystal"
    # Google Cloud Storage
    - name: "LANGFUSE_S3_EVENT_UPLOAD_ENABLED"
      value: "true"
    - name: "LANGFUSE_S3_EVENT_UPLOAD_BUCKET"
      value: "<YOUR_LANGFUSE_BUCKET_NAME>"
    - name: "LANGFUSE_S3_EVENT_UPLOAD_REGION"
      value: "auto"
    - name: "LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT"
      value: "https://storage.googleapis.com"
    - name: "LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE"
      value: "true"
    - name: "LANGFUSE_S3_EVENT_UPLOAD_PREFIX"
      value: "events/"
    - name: AUTH_GOOGLE_ALLOWED_DOMAINS
      value: <YOUR_ALLOWED_ACCOUNT_DOMAINS>
    - name: AUTH_DISABLE_USERNAME_PASSWORD
      value: "true"

serviceAccount:
  create: true

secretStore:
  enabled: true
  projectID: <YOUR_PROJECT_ID>
  clusterLocation: asia-northeast1
  clusterName: <YOUR_CLUSTER_NAME>

externalSecret:
  refreshInterval: 1h
  data:
    - secretKey: DATABASE_URL
      remoteRef:
        key: LANGFUSE_DATABASE_PROXY_URL # value example: "postgresql://<USER>:<PASSWORD>@localhost:5432/langfuse"
        version: latest
    - secretKey: NEXTAUTH_SECRET
      remoteRef:
        key: LANGFUSE_NEXTAUTH_SECRET
        version: latest
    - secretKey: SALT
      remoteRef:
        key: LANGFUSE_SALT
        version: latest
    - secretKey: AUTH_GOOGLE_CLIENT_ID
      remoteRef:
        key: LANGFUSE_AUTH_GOOGLE_CLIENT_ID
        version: latest
    - secretKey: AUTH_GOOGLE_CLIENT_SECRET
      remoteRef:
        key: LANGFUSE_AUTH_GOOGLE_CLIENT_SECRET
        version: latest
    - secretKey: LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID
      remoteRef:
        key: LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID
        version: latest
    - secretKey: LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY
      remoteRef:
        key: LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY
        version: latest

podAnnotations: {}
podSecurityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
  runAsNonRoot: true

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true

service:
  type: ClusterIP
  port: 3000

resources: {}

nodeSelector: {}

tolerations: []

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: cloud.google.com/gke-nodepool
              operator: In
              values:
                - langfuse-pool

postgresql:
  host: ""
  auth: {}
  deploy: false
  architecture: standalone
  primary:
    service:
      ports:
        postgresql: 5432
  cloudsqlProxy:
    project: <YOUR_PROJECT_ID>
    region: asia-northeast1
    instance: <YOUR_INSTANCE_NAME>

clickhouse:
  deploy: true
  replicaCount: 3
  auth:
    username: langfuse
    password: crystal
  service:
    httpPort: 8123
    tcpPort: 9000
    interserverPort: 9009
  image:
    repository: clickhouse/clickhouse-server
    tag: 25.12.3-alpine
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 1000m
      memory: 4Gi
    limits:
      cpu: 2000m
      memory: 8Gi
  persistence:
    enabled: true
    size: 50Gi
    storageClass: "premium-rwo"
  keeper:
    enabled: true
    replicaCount: 3
    clientPort: 2181
    raftPort: 9444
    image:
      repository: clickhouse/clickhouse-server
      tag: 25.12.3-alpine
      pullPolicy: IfNotPresent
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi
    persistence:
      enabled: true
      size: 10Gi
      storageClass: ""

valkey:
  deploy: true
  architecture: standalone
  primary:
    extraFlags:
      - "--maxmemory-policy noeviction"
  auth:
    password: crystal

minio:
  deploy: false
  defaultBuckets: 'langfuse'
  auth: {}

extraManifests: []
