replicaCount: 1

image:
  repository: langfuse/langfuse
  pullPolicy: Always
  tag: 3

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
namespaceOverride: ""

langfuse:
  nodeEnv: production
  next:
    healthcheckBasePath: ""
  nextauth:
    url: <NEXT_AUTH_URL>
  licenseKey: ""
  telemetryEnabled: True
  nextPublicSignUpDisabled: False
  enableExperimentalFeatures: False
  extraContainers: []
  extraVolumes: []
  extraInitContainers: []
  extraVolumeMounts: []
  gateway:
    deploy: true
    annotations:
      networking.gke.io/certmap: <CERTIFICATION_MANAGER_CERT_MAP>
    policy:
      enabled: true
      name: <SSL_POLICY_NAME>
    addressName: <GLOBAL_EXTERNAL_IP_NAME>
  httpRoute:
    host: <HOST_NAME>
  web:
    port: 3000
    resources: {}
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 2
      targetCPUUtilizationPercentage: 50
    vpa:
      enabled: false
      controlledResources: []
      maxAllowed: {}
      minAllowed: {}
      updatePolicy:
        updateMode: Auto
  worker:
    port: 3030
    resources: {}
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 2
      targetCPUUtilizationPercentage: 50
    vpa:
      enabled: false
      controlledResources: []
      maxAllowed: {}
      minAllowed: {}
      updatePolicy:
        updateMode: Auto

  additionalEnv:
    # REDIS
    - name: "REDIS_CONNECTION_STRING"
      value: "redis://default:<REDIS_PASSWORD>@langfuse-valkey-primary:6379/0"
    # CLICKHOUSE
    - name: "CLICKHOUSE_MIGRATION_URL"
      value: "clickhouse://langfuse-clickhouse:9000"
    - name: "CLICKHOUSE_URL"
      value: "http://langfuse-clickhouse:8123"
    - name: "CLICKHOUSE_USER"
      value: "default"
    - name: "CLICKHOUSE_PASSWORD"
      value: "<CLICKHOUSE_PASSWORD>"
    # S3 / MinIO
    - name: "LANGFUSE_S3_EVENT_UPLOAD_ENABLED"
      value: "true"
    - name: "LANGFUSE_S3_EVENT_UPLOAD_BUCKET"
      value: "<GCS_BUCKET_NAME>"
    - name: "LANGFUSE_S3_EVENT_UPLOAD_REGION"
      value: "auto"
    - name: "LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT"
      value: "https://storage.googleapis.com"
    - name: "LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE"
      value: "true"
    - name: "LANGFUSE_S3_EVENT_UPLOAD_PREFIX"
      value: "events/"
    - name: AUTH_GOOGLE_ALLOWED_DOMAINS
      value: "<ALLOWED_DOMAINS>"
    - name: AUTH_DISABLE_USERNAME_PASSWORD
      value: "true"

serviceAccount:
  create: true
  annotations:
    iam.gke.io/gcp-service-account: <GCP_SERVICE_ACCOUNT>

secretStore:
  enabled: true
  projectID: <PROJECT_ID>
  clusterLocation: <CLUSTER_LOCATION>
  clusterName: <CLUSTER_NAME>

externalSecret:
  refreshInterval: 1h
  data:
    - secretKey: DATABASE_URL
      remoteRef:
        key: LANGFUSE_DATABASE_PROXY_URL # value example: "postgresql://<USER>:<PASSWORD>@localhost:5432/langfuse"
        version: latest
    - secretKey: LANGFUSE_PUBLIC_KEY
      remoteRef:
        key: LANGFUSE_PUBLIC_KEY
        version: latest
    - secretKey: LANGFUSE_SECRET_KEY
      remoteRef:
        key: LANGFUSE_SECRET_KEY
        version: latest
    - secretKey: NEXTAUTH_SECRET
      remoteRef:
        key: LANGFUSE_NEXTAUTH_SECRET
        version: latest
    - secretKey: SALT
      remoteRef:
        key: LANGFUSE_SALT
        version: latest
    - secretKey: AUTH_GOOGLE_CLIENT_ID
      remoteRef:
        key: LANGFUSE_AUTH_GOOGLE_CLIENT_ID
        version: latest
    - secretKey: AUTH_GOOGLE_CLIENT_SECRET
      remoteRef:
        key: LANGFUSE_AUTH_GOOGLE_CLIENT_SECRET
        version: latest
    - secretKey: LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID
      remoteRef:
        key: LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID
        version: latest
    - secretKey: LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY
      remoteRef:
        key: LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY
        version: latest

podAnnotations: {}
podSecurityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
  runAsNonRoot: true

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true

service:
  type: ClusterIP
  port: 3000

resources: {}

nodeSelector: {}

tolerations: []

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: cloud.google.com/gke-nodepool
          operator: In
          values:
          - <NODE_POOL_NAME>

postgresql:
  host: ""
  auth: {}
  deploy: false
  architecture: standalone
  primary:
    service:
      ports:
        postgresql: 5432
  cloudsqlProxy:
    project: <PROJECT_ID>
    region: <INSTANCE_REGION>
    instance: <INSTANCE_NAME>

clickhouse:
  deploy: true
  shards: 1 # Fixed. Langfuse does not support multi-shard clusters.
  replicaCount: 3
  resourcesPreset: large
  auth:
    username: default
    password: <CLICKHOUSE_PASSWORD>

valkey:
  deploy: true
  architecture: standalone
  primary:
    extraFlags:
      - "--maxmemory-policy noeviction"
  auth:
    password: <VALKEY_PASSWORD>

minio:
  deploy: false
  defaultBuckets: 'langfuse'
  auth: {}

extraManifests: []
